body{
    padding: 0;
    margin: 0;
}
/*
    fonts
*/

@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('/fonts/clash-display/ClashDisplay-Extralight.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('/fonts/clash-display/ClashDisplay-Light.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('/fonts/clash-display/ClashDisplay-Medium.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/clash-display/ClashDisplay-Regular.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('/fonts/clash-display/ClashDisplay-Semibold.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}

/*
    header
*/


.container-fluid {


    background-color: black;

}



.navbar-brand h1 {
    color: white;
    font-family: 'ClashDisplay-Bold';
    font-size: 100%;
    margin-top: 1vh;
}


.nav-link {
    color: white;
    font-family: 'ClashDisplay-Bold';
}


.navbar {
    height: 20vh;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

header {
    background-color: black;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.555);  
}

/* Main section of the page */


.about-me{
    width: 100%;
    height: fit-content;
    background: radial-gradient(circle at 50% 50%, rgba(44, 53, 62, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.about-me h1{
    font-family: 'ClashDisplay-Bold';
    src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 2.5em;
    color: white;
}

.about-me img{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    margin-left: 25%;

}
.about-me p{
    width: 90%;
    margin-left: 5%;
    padding-top: 5%;
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/clash-display/ClashDisplay-Regular.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

.interest{
    width: 90%;
    margin-left: 5%;
    height: fit-content;
    padding-bottom: 5%;
}
.interest h1{
    font-family: 'ClashDisplay-Bold';
    src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 2.5em; 
}

.interest p{
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/clash-display/ClashDisplay-Regular.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    
}

ul li{
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/clash-display/ClashDisplay-Regular.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
    
    
}

h2{
    font-family: 'ClashDisplay-Bold';
    src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 2em; 
    padding-top: 5%;
}

.container{
    display: flex;
}
.item{
    padding-bottom: 5%;
}


.item-left{
    width: 50%;
}

.item-left p{
    padding-top: 25%;
    padding-right: 5%;
}


.item-right{
    width: 50%;
}

.item-right img{
    padding-top: 5%;
    width: 90%;
    margin-left: 0;
    border-radius: 40px;

    
}
footer {
    background-color: black;
    height: 25vh;
    width: 100%;
    display: grid;

}

.developer-info {
    padding: 10%;
}

footer h4 {
    color: white;
    font-family: 'ClashDisplay-Semibold';
    font-size: 110%;

}
@media(min-width:550px){
    .item-about img{
     max-width: 30%;
     margin-left: 35%;
    }
    .about-me h1{
        
        font-size: 3em;
    }

    footer{
        height: 50vh;
    }
}

@media(min-width: 750px){
    .item-about p{
        font-size: 1.3em;
        
    }
    .interest p{
        font-size: 1.3em;
        
    }

   
}
@media(min-width: 992px){
    
    .about-me{
        width: 100%;
        margin-left: 0;
        height: fit-content;
    }

    .about-me h1{
        font-family: 'ClashDisplay-Bold';
        src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('truetype'); /* O el formato de tu archivo */
        font-weight: normal;
        font-style: normal;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 4em;
    }

    .item-about{
        width: 90%;
        
    }
    .item-about img{
        width: 30%;
        margin-left: 40%;
    
    }
    .item-about p{
        
        margin-left: 10%;
        font-size: 2em;
    
    }

    .interest h1{
  
        font-size: 3.5em; 
    }
    
    .interest h2{
        font-size: 3em; 
      
    }
    .interest p{
    
        font-size: 2em;
      
    }
}

@media(min-width: 1200px){

    .navbar-brand {
        margin-left: 3%;
        margin-right: 3%;
       
    }

    .navbar-brand h1{
        font-family: 'ClashDisplay-Semibold';
        font-size: 150%;
    }


    .nav-link {
        font-family: 'ClashDisplay-Light';
        font-size: 150%;
    }
   
    .about-me{
        width: 100%;
        margin-left: 0;
        height: fit-content;
    }

    .about-me h1{

        font-size: 4em;
    }

    .item-about{
        width: 100%;
        margin-left: 0;
        display: flex;
        
    }

    .item-about-img{
        width: 50%;
        
    }
    .item-about img{
        width: 100%;
        
        height: fit-content;
        
    }
    .item-about p{
        width: 50%;
        margin-left: 0%;
        font-size: 2.5em;
    
    }

    .interest h1{
  
        font-size: 4em; 
    }
    
    .interest h2{
        font-size: 3em; 
      
    }
    .interest p{
    
        font-size: 2em;
      
    }
}



@media(min-width: 1366px){
   
    .about-me img{
        padding-bottom: 0;
    }

    .about-me h1{
        padding-bottom: 0;
        font-size: 4em;
    }

    .item-about{
        padding-top: 0;
        width: 90%;
        
    }
    .item-about img{
        width: 20%;
        margin-left: 45%;
    
    }
    .item-about p{
        
        margin-left: 10%;
        font-size: 2em;
    
    }

    .interest h1{
  
        font-size: 3em; 
    }
    
    .interest h2{
        font-size: 2.5em; 
      
    }
    .interest p{
    
        font-size: 2em;
      
    }

}