* {
    padding: 0;
    margin: 0;
}
/*
    fonts
*/

@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('/fonts/clash-display/ClashDisplay-Extralight.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('/fonts/clash-display/ClashDisplay-Light.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('/fonts/clash-display/ClashDisplay-Medium.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/clash-display/ClashDisplay-Regular.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('/fonts/clash-display/ClashDisplay-Semibold.otf') format('truetype'); /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}
/*
    header
*/


.container-fluid {


    background-color: black;

}



.navbar-brand h1 {
    color: white;
    font-family: 'ClashDisplay-Bold';
    font-size: 100%;
    margin-top: 1vh;
}



.nav-link {
    color: white;
    font-family: 'ClashDisplay-Bold';
}


.navbar {
    height: 20vh;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

header {
    background-color: black;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.555);  
}

/*
  Main content of the page
*/

.books{
    text-align: center;
}

.books h1{
    font-family: 'ClashDisplay-Bold';
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2em;
}

.books p{
    font-family: 'ClashDisplay-Regular';
    font-size: 0.9em;
    padding-bottom: 5%;
    width: 90%;
    margin-left: 5%;
}

.books-list{
    width: 90%;
    margin-left: 5%;
}
.title-link h2{
    font-family: 'ClashDisplay-Semibold';
   
}

.description{

    text-align: left;
}

.cta-get-book{
    display: flex;
    text-decoration: none;
    font-family: 'ClashDisplay-Semibold';
    background: black;
    justify-content: center;
    color: white;
    align-items: center;
    border-radius: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 140%;
}



.book-description p{
    font-family: 'ClashDisplay-Regular';
    text-align: left;
}

.book-description-img{
    display: flex;
    justify-content: center;
  
}
.btn-link{

    text-decoration: none;
}
.btn-link h6{
    margin-bottom: 0;
    padding: 5%;
    font-size: 100%;
}

/*
    Styling the footer
*/
hr{
    color: white;
}
footer {
    background-color: black;
    height: 25vh;
    width: 100%;
    display: grid;

}

.developer-info {
    padding: 10%;
}

footer h4 {
    color: white;
    font-family: 'ClashDisplay-Semibold';
    font-size: 110%;

}

/*
    Media Queries
*/

@media (min-width: 768px){
    .books p{
        
        font-size: 1em;
       
    }

}

@media (min-width: 920px){
    .books h1{
        
        font-size: 3em;
    }

    .books p{
        font-size: 1.5em;
    }
    .title-link h2{
        font-size: 2.5em;
    }
    .cta-get-book{
        width: 250px;
        background: black;
        color: white;
        align-items: center;
    }
    .cta-get-book h6{
        text-decoration: none;
    }
      
    .book-description p{
        font-size: 1.5em;
        
    }
    .img-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1280px){


    .navbar-brand {
        font-size: 100%;
        margin-left: 3%;
        margin-right: 3%;
       
    }

    .navbar-brand h1{
        font-family: 'ClashDisplay-Semibold';
        font-size: 150%;
    }

    .nav-link {
        font-family: 'ClashDisplay-Light';
        font-size: 150%;
    }
   

    .books h1{
        
        font-size: 4em;
    }

    .books p{
        font-size: 2em;
    }

    .title-link h2{
        font-size: 3em;
    }

    .cta-get-book{
        width: 35%;
        background: black;
        color: white;
        text-decoration: none;
    }

    .book-description{
        width: 100%;
        display: flex;
    }
    .book-description p{
        font-size: 1.5em;     
    }
    .book-description-text{
        width: 50%;
    }
    .book-description-img{
        width: 50%;
    }

    .book-img{
        width: 50%;
    }

    footer{
        height: 50vh;
    }
}