
* {
    padding: 0;
    margin: 0;
}


/*
    fonts
*/
@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('truetype');
    /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('/fonts/clash-display/ClashDisplay-Extralight.otf') format('truetype');
    /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('/fonts/clash-display/ClashDisplay-Light.otf') format('truetype');
    /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('/fonts/clash-display/ClashDisplay-Medium.otf') format('truetype');
    /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/clash-display/ClashDisplay-Regular.otf') format('truetype');
    /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('/fonts/clash-display/ClashDisplay-Semibold.otf') format('truetype');
    /* O el formato de tu archivo */
    font-weight: normal;
    font-style: normal;
}

/*
    header
*/


.container-fluid {


    background-color: black;

}



.navbar-brand h1 {
    color: white;

    font-family: 'ClashDisplay-Bold';
    font-size: 100%;
    margin-top: 1vh;
}


.nav-link {
    color: white;
    font-family: 'ClashDisplay-Bold';
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.555);  
}
.navbar {
    height: 25vh;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

header {
    background-color: black;
}


/*

    Comunidad


*/
.community-title{
    margin-top: 15%; 
}

.community-title div h3{
    font-family: 'ClashDisplay-Bold';
    font-size: 300%;
    color: black;

}

.community-text p{

    font-family: 'ClashDisplay-Regular';
    color: black;
    font-size: 150%;

}




/*
    Channels
*/

.channel{
    margin-top: 10%;
}

.channel-header{
    display: flex;
    align-items: center;
}

.channel-title{
    font-family: 'ClashDisplay-Semibold';
}
.channel-title h3{
    color: black;
    font-size: 200%;  
}

.channel-img img{
    border-radius: 50%;
}

.channel-info{
    margin-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}
.channel-description{
    font-family: 'ClashDisplay-Regular';
}

.channel-description p{
    font-size: 150%;
}


.channel-link a{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10vw; 
    padding: 4%;
    align-items: center;
    margin-top: 5%;

}



.channel-anchor{

    text-decoration: none;
}

.bi-youtube{
    color: red;
    font-size: 200%;

}

.visit-channel-msg{
    margin-top: 2%;
    margin-left: 3%;
    font-family: 'ClashDisplay-Semibold';
}


/*

    Footer


*/


footer {
    margin-top: 20%;
    background-color: black;
    height: 25vh;
    width: 100%;
    display: grid;

}

.developer-info {
    padding: 10%;
}

footer h4 {
    color: white;
    font-family: 'ClashDisplay-Semibold';
    font-size: 110%;

}


@media (min-width: 900px){

    /*
        navbar
     
    */

    .navbar-brand {
        font-size: 100%;
        margin-left: 3%;
        margin-right: 3%;
       
    }

    .navbar-brand h1{
        font-family: 'ClashDisplay-Semibold';
    }


    .nav-link {
        font-family: 'ClashDisplay-Light';
        font-size: 150%;
    }


    .channel-link{
        width: 60%;

        text-align: center;
        margin-left: 5%;
    }
}

@media (min-width: 1200px){


    .navbar-brand {
        font-size: 100%;
        margin-left: 3%;
        margin-right: 3%;
       
    }

    .navbar-brand h1{
        font-family: 'ClashDisplay-Semibold';
    }


    .nav-link {
        font-family: 'ClashDisplay-Light';
        font-size: 150%;
    }


    .channel-link{
        width: 40%;
        text-align: center;
        margin-left: 5%;
    }

    footer{
        height: 50vh;
    }


    .community-title{
        font-size: 150%;   
    }

    .community-text{
        margin-top: 5%;
        font-size: 125%;
    }
    .channel-title{
        font-size: 150%;
    }

    .channel-description{
        font-size: 100%;
    }

    .channel-info{
        margin-top: 10%;
        font-size: 120%;
    }
    .channel-img img{
        width: 40%;
    }
}